@import url('http://fonts.cdnfonts.com/css/sofia-pro');
                              
body {
    background-color: #12181b;
    color: white;
    margin: 0px;
    border: 0;
    overflow:hidden;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Sofia Pro', sans-serif;
    transition: background-color 1s;
                                                
}
.light-theme {
    transition: background-color 1s;
    background-color: rgba(255, 255, 255, 0.713);
    color: black;
}

.dark-toggle {
    /* z-index: 10; */
    position: absolute;
    width: 30px;
    height: 30px;
    /* padding: 5px; */
    margin: 20px;
    right: 0;
    background-color: #2a2e35ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.drklightsvg {
    margin-top: 3px;
    width: 1.5em;
    height: 1.5em;
    color: rgb(208, 208, 208);
    transition: color 0.5s;

}

.drklightsvg:hover {
    color: white;
    transition: color 0.5s;
}

.leftPanel {
    background-color: #2a2e35ab;
    float: left;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightPanel {
    float: right;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcomeTxt {
    color: white;
    margin-top: -130px;
    font-size: 50px;
    letter-spacing: 20px;
}

.authSideImg {
    width: 50%;
}


/*css for form*/
.loginForm {
    padding: 0px 30px 30px 30px;
    background-color: #2a2e35;
    color:white;
    border-radius: 5px;
    width: 50%;
    height: 50vh;
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.loginFormH2 {

    text-align: center;
    margin-top: 0px;
    font-size: 35px;
}

.inputInDiv {
    margin: 10px;
    display: flex;
    justify-content: center;


}

.txtInput {
    font-family: inherit;
    width:90%;
    height: 25px;
    margin: 10px 0px;
    padding-right: 10px;
    font-size: 1.1rem;
    color:white;
    background-color: rgba(255, 255, 255, 0);
    border:0px;
    border-bottom: 2px solid #7d2dc9;
    transition: 0.5s;
    text-align: right;
}

.txtInput:focus  {
    border-bottom: 2px solid #11998e ;
    outline: none;
    

}

.txtInput:focus :placeholder-shown {
    display: none;
}

.btnLogin {
    color:white;
    width: 80%;
    height: 40px;
    margin-top:20px;
    font-family: inherit;
    font-size: 1rem;
    background-color:#8d26ed ;
    border:0;
    float: right;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.btnLogin:hover {
    background-color: #11998e;
    
}

.forgotlink {
    width: 100%;
    font-size: 10px;
    text-decoration: none;
    margin-top: -5px;
    padding-right: 30px;
    color: white;
    text-align: right;
}
.forgotlink:hover {
    text-decoration: underline;
}

.haveacclbl {
    font-size: 15px;
}

.reglink {
    color: #11998e ;

}



/*for bottom svg*/
.custom-shape-divider-bottom-1629894577 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -15px;
    width: 50%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1629894577 svg {
    position: relative;
    display: block;
    width: calc(168% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1629894577 .shape-fill {
    fill: #7d2dc9;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1629894577 svg {
        width: calc(160% + 1.3px);
        height: 306px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1629894577 svg {
        width: calc(252% + 1.3px);
        height: 500px;
    }
}

